* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: monospace;
}

.header {
  padding: 30px;
  background-image: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  width: 100vw;
  height: 9vh;
  display: flex;
  align-items: center;
}
.header--img {
  height: 55px;
  margin-left: 33vw;
  padding-right: 15px;
}

.header--title {
  color: white;
  font-size: 40pt;
  font-weight: 500;
}

.meme {
  width: 60vw;
  margin: auto;
}
.meme--form {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.meme--input {
  margin: auto;
  width: 50vw;
}
.meme--input > input {
  width: 48%;
  height: 50px;
  border-radius: 6px;
}

.meme--input--left {
  margin-right: 4%;
}

.meme--button {
  margin: auto;
  margin-top: -20px;
  width: 50vw;
  height: 60px;
  font-size: 20pt;
  color: white;
  background-image: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.meme--image {
  width: 60vw;
  height: 55vh;
}
